<%= content_for :title, "Edit track" %>

<div class="standard_form">
<% form_for(@track) do |f| %>

	<%= error_message_on "track", "name", :css_class => "formerror" %>

	<%= f.label :name, "Track name" %>
	<%= f.text_field :name %>
	
	<%= f.submit "Update" %>

<% end %>
</div>
