<%= content_for :title, "All tracks" %>

<div id="wrapper">
	
  <!-- <h1 class="introductie">We gaan hardt, met <strong>dt.</strong></h1> -->
		
	<ul class="playlist">
	  <li id="intro">Nightshift baby!</li>
	<% @track.each do |t| %>
		<li id="<%= t.id %>"><%= link_to t.name, t.mp3.url %>
		</li>
	<% end %>
	</ul>	
</div>

<%= render "/tracks/pageplayer" %>

<%= render "/layouts/footer" %>
