<div class="standard_form">
	<%= error_messages :track, :header_message => "Failed!", :message => nil, :header_tag => :h1  %>
	<% form_for @track, :url => { :action => "create" }, :html => { :multipart => true } do |f| %>

	<p><%= label_tag 'Naam van de track' %>
	<%= f.text_field :name %></p>
	
	<p><%= label_tag 'Bestand' %>
	<%= f.file_field :mp3 %></p>

	<p><%= submit_tag 'submit' %></p>
	<% end -%>
</div>