<%= content_for :title, "Add track" %>

<%= javascript_include_tag 'swfupload' %>
<%= javascript_include_tag 'upload' %>
<script type="text/javascript">
	var swfu;
	// Dom Ready
	$(document).ready(function() {
		// Setup SWFU object
		var settings = {
			upload_url: "/tracks/create",
			flash_url: "/flash/swfupload.swf",
			
			//Button settings
			button_placeholder_id: 'track_mp3',
			button_image_url: "/images/upload.png",
			button_width: "61",
			button_height: "22",
      button_action: SWFUpload.BUTTON_ACTION.SELECT_FILE,
    	
    	//File settings
      file_size_limit: "<%= 10.megabytes %>",
			file_upload_limit : 1,
			file_types: "*.mp3;",
			file_types_description: "Mp3 Audio Files",
			
			//Handlers
			file_queued_handler: Upload.file_queued,
			file_dialog_complete_handler: Upload.file_dialog_complete,
			upload_start_handler: Upload.upload_start,
			upload_progress_handler: Upload.upload_progress,
			upload_error_handler: Upload.upload_error,
			upload_success_handler: Upload.upload_success,
			upload_complete_handler: Upload.upload_complete,
		};
				
		swfu = new SWFUpload(settings);
		
    // $("#upload_track").attr("disabled", "true").hide();
				
		// Add Event Handlers
		$('#track_mp3').click(function(event) { 

      // Prevent default action bound to this button
		  event.preventDefault();
		  
		  // Open the file browse dialog
		  swfu.selectFiles(); 
		  
		});
		
		$('#upload_track').click(function(event) { 
		  
		  event.preventDefault();
		  $(".progress").show();
		  
		  var trackname = $("#track_name").val();
		  
		  swfu.addPostParam("name", trackname);
		  swfu.addPostParam("user_id", <%= current_user.id %>);
		  swfu.startUpload(); 
		  
		});
		
	});
</script>

<div class="standard_form">
 
  <% form_for :track, :url => { :action => "create" }, :html => { :multipart => true } do |f| %>
 
  <%= error_message_on "track", "name", :css_class => "formerror" %>
 
  <p><%= label_tag 'Naam van de track' %>
  <%= f.text_field :name %></p>
  
  <%= error_message_on "track", "mp3", :css_class => "formerror" %>

  <div class="progress">
    <div></div>
  </div>
  
  <p><%= label_tag 'Bestand' %>
  <span id="filequeue"></span>
  <%= f.file_field :mp3 %></p>

  <%= hidden_field(:track, :user_id, options = {"value" => "#{current_user.id}"}) %>

  <p><%= submit_tag 'Upload track', :id => "upload_track" %></p>
  <% end -%>
</div>