<%= content_for :title, "Add track" %>

<div class="standard_form">

	<% form_for @track, :url => { :action => "create" }, :html => { :multipart => true } do |f| %>

	<%= error_message_on "track", "name", :css_class => "formerror" %>

	<p><%= label_tag 'Naam van de track' %>
	<%= f.text_field :name %></p>
	
	<%= error_message_on "track", "mp3", :css_class => "formerror" %>
	
	<p><%= label_tag 'Bestand' %>
	<%= f.file_field :mp3 %></p>

	<p><%= submit_tag 'submit' %></p>
	<% end -%>
</div>