<div class="standard_form">
<% form_for(@user) do |f| %>
	<%= f.error_messages %>

	<%= f.label :name, "Display name" %>
	<%= f.text_field :name %>
	
	<%= f.label :email, "Email address" %>
	<%= f.text_field :email %>

	<%= f.submit "Update" %>

<% end %>
</div>
