<%= content_for :title, "Edit profile" %>

<div class="standard_form">
<% form_for @user, :html => { :multipart => true } do |f| %>

	<%= error_message_on "user", "name", :css_class => "formerror" %>

	<p><%= f.label :name, "Display name" %>
	<%= f.text_field :name %></p>

	<%= error_message_on "user", "email", :css_class => "formerror" %>
	
	<p><%= f.label :email, "Email address" %>
	<%= f.text_field :email %></p>
	
	<%= f.label :bio, "Biografie" %>
	<%= f.text_area :bio, :size => "27x5" %>

	<%= error_message_on "user", "avatar", :css_class => "formerror" %>
	
	<p><%= f.label :avatar, "Avatar" %>
	<%= image_tag @user.avatar.url(:thumb) %>	
	<%= f.file_field :avatar %></p>

	<%= f.submit "Update" %>

<% end %>
</div>
