<h1>My Profile: <%=h @user.login %> </h1>
<p>Joined on: <%=h @user.created_at.to_s(:long) %></p>
<p>Name: <%=h @user.name %></p>
<p>Username: <%=h @user.login %></p>
<p>Email: <%=h @user.email %></p>


