<div id="title">
	<%= @user.name %>
</div>	

<div id="wrapper">
	<ul id="tracklist">
	<% @track.each do |t| %>
		<li><%= t.name %>
			<%= link_to 'Show', t %>
			<% if logged_in? %>
				<% if current_user.id == @user.id %>
					<%= link_to 'Destroy', t, :confirm => 'Are you sure?', :method => :delete %>
			    <% end %>
			<% end %>
		</li>
	<% end %>
	</ul>

	<% if current_user.id == @user.id %>
		<%= link_to "Add track", :controller => "tracks", :action => "new" %>
	<% end %>

</div>
