<% content_for :title, @user.name %>
<% content_for :meta, "Alle tracks van #{@user.name}" %>
<% content_for :head do %>
	<%= auto_discovery_link_tag :rss, {:controller => "tracks", :action => "userrss"}, :title => "RSS per artiest" %>
<% end %>

<div id="wrapper">
	<ul class="playlist">
	  <li id="intro"><%= @user.name %></li>
	<% @track.each do |t| %>
		<li id="track-<%= t.id %>"><%= link_to(h(t.name), t.mp3.url) %>
		</li>
	<% end %>
	</ul>	
</div>

<%= render "/tracks/pageplayer" %>
