<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>DND - <%= yield(:title) %></title>
  <%= javascript_include_tag "jquery-1.3.2.min" %>
	<%= stylesheet_link_merged :base %>
	<%= javascript_include_merged :base %>
	<%= auto_discovery_link_tag :rss, {:controller => "tracks", :action => "rss"}, :title => "deNachtDienst Tracks RSS" %>
	<%= yield :head %>
</head> 
<body> 

<div id="header">
	<%= link_to '<h1>deNachtdienst<span>.org</span></h1>', root_url %>
	
	<div id="userinfo">
	</div>
	
</div>

<% unless flash[:notice].blank? %> 
	<div id="notification"><%= flash[:notice] %></div> 
<% end %> 

<%= yield %> 

<script type="text/javascript" charset="utf-8">
	<%= remote_function :update => 'userinfo', :url => '/status' %>
</script>


<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-1823318-4");
pageTracker._trackPageview();
} catch(err) {}</script>
</body> 
</html>
