<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>DND</title>
	<%= auto_discovery_link_tag :rss, {:controller => "tracks", :action => "rss"} %>
	<%= stylesheet_link_merged :base %>
	<%= javascript_include_merged :base %>
</head> 
<body> 

<div id="header">
	<%= link_to '<h1>deNachtdienst</h1>', root_url %>
	
	<div id="userinfo">
	</div>
	
</div>

<% unless flash[:notice].blank? %> 
	<div id="notification"><%= flash[:notice] %></div> 
<% end %> 

<%= yield %> 

<script type="text/javascript" charset="utf-8">
	<%= remote_function :update => 'userinfo', :url => '/status' %>
</script>

</body> 
</html>
